.spell-stats {
	background-color: var(--bg-soft);
	border: 1px solid var(--bg-hard);
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	width: 400px;
}

.stats-list {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--bg-hard);
	border-radius: 8px;
	overflow: hidden;
}

.stats-header,
.stats-row {
	display: grid;
	padding: 12px;
	border-bottom: 1px solid var(--bg-hard);
	align-items: center;
	gap: 10px;
}

.stats-header {
	background-color: var(--bg-soft);
	color: var(--yellow);
	font-weight: 600;
}

.stats-row:last-child {
	border-bottom: none;
}


.stats-col a {
	color: var(--blue);
	text-decoration: none;
}

.stats-col a:hover {
	color: var(--green);
}

.stats-col {
	 overflow: hidden;
	 text-overflow: ellipsis;
}

@media (max-width: 768px) {
	.stats-header,
	.stats-row {
		padding: 10px;
		gap: 5px;
		overflow-x: auto;
	}
}

.stats-header, .stats-row { grid-template-columns: 2fr 1fr }